# Backend dependencies
/backend/node_modules
/backend/dist

# Frontend dependencies (already covered by frontend/.gitignore, but good practice)
/frontend/node_modules
/frontend/dist
/frontend/dist-ssr
/backend/.env*

# OS files
.DS_Store